<!DOCTYPE html>
<html>
  <head>
    <!-- INSERT GOOGLE ANALYTICS HERE -->

    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- For Bootstrap responsiveness -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sho's Portfolio</title>
    <%#= display_meta_tags %>
    <%= favicon_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "app" %>
    <%= javascript_include_tag "main" %>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.8.2/devicon.min.css">
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" crossorigin="anonymous"></script> %>
    <script src="https://kit.fontawesome.com/e1880d8b33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>

  <body>



    <%= yield %>

    <%= javascript_include_tag "bundle" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init({
      easing: 'ease',
      duration: 1800
    }
    );
    </script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
